@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .custom-button {
        @apply px-6 w-1/5 my-10 py-2 rounded bg-customBlue text-white border rounded-2xl border-white hover:bg-white hover:text-customBlue hover:border-customBlue;
    }

    .custom-button-white {
        @apply px-6 w-1/5 my-10 py-2 rounded bg-white text-customBlue border rounded-2xl border-customBlue hover:bg-customBlue hover:text-white hover:border-customBlue;
    }
    .custom-input{
        @apply  border-2 border-black  rounded-3xl h-10 py-6 px-8 my-2 mr-5 text-customBlue placeholder-customBlue
    }
    .booking-th{
        @apply  py-1 px-2 text-center text-sm font-semibold text-gray-600
    }
    .booking-td{
        @apply  py-1 px-2 border-t border-gray-200
    }
}

:root{
    font-size: 0.8rem;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
td{
    text-align: center;
}
.bg-Background {
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
